<!DOCTYPE html>
<html dir = "rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="..//static/style.css">
</head>
<body>

    <div id="HomePagecontainer">
        <header id="myHeader">
            <p></p>
        </header>

        <div id="HomePageCenter">
            <h1 id="title">המלצות וביקורות על קורסים <br>
                לסטודנטים, מסטודנטים </h1>
        
            <p id="text">מערכת ביקורות נסיונית כלל אוניברסיטאית, <br>
                פיילוט על קורסי הבחירה של מחלקת הנדסת תעשייה וניהול</p>
            <img src="..//static/camel pic.png" id="sweetCamel">
        </div>

        <div id="toIdentificationPage">
                <a href ="..//template/identification page.html"><button class = "clickToVote">כנסו והשפיעו!</button></a>
        </div>

    </div>
    







</body>
</html>