doctype html
html(lang="en", dir="rtl")
  head

    title Choose Course Page
    link(rel="stylesheet", href="..//static/style.css")
  body
    #ChooseCourseContainer
        header#myHeader
            p
        h1#mainTitle בחר קורס
        h2#title קורסי מחלקת הנדסת תעשייה וניהול
        .flex-container1
            .flex-container1-2
                .flex-child
                    a(href="/ReviewPage")
                        input.course(type="submit", value="Web")
                .flex-child
                    a(href="/ReviewPage")
                        input.course(type="submit", value="BI")
            .flex-container3-4
                .flex-child
                    a(href="/ReviewPage")
                        input.course(type="submit", value="אוטומציה")
                .flex-child
                    a(href="/ReviewPage")
                        input.course(type="submit", value="סימולציה")
        .flex-container2
            .flex-container5-6
                .flex-child
                    a(href="/ReviewPage")
                        input.course(type="submit", value="רגרסיה")
                .flex-child
                    a(href="/ReviewPage")
                        input.course(type="submit", value='תפ"י 1')
            .flex-container7-8
                .flex-child
                    a(href="/ReviewPage")
                        input.course(type="submit", value='תפ"י 2')
                .flex-child
                    a(href="/ReviewPage")
                        input.course(type="submit", value='ניתו"צ')
