doctype html
html(dir="rtl", lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Goodbye Page
    link(rel="stylesheet", href="..//static/style.css")
  body
    #GoodbyeContainer
      header#myHeader
        p
      #GoodbyeCenter
        h1#GoodbyeTitle הביקורת התקבלה בהצלחה
        p#ThankYouSentence תודה על השתתפותך!
      img#RightCamel(src="..//static/RightCamel.png")
