
doctype html
html(dir="rtl", lang="en")
  head
    //- meta(charset="UTF-8")
    //- meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home Page
    link(rel="stylesheet" , href="style.css")
  body
    #HomePagecontainer
      header#myHeader
        p
      #HomePageCenter
        h1#title המלצות וביקורות על קורסים 
          br
          | לסטודנטים, מסטודנטים
        p#text גרסת בטא
        
          
        img#sweetCamel(src="camel pic.png")
        

      form#codeForm(action="/CodeValidation" method="GET")
            label.codeLabel(for="code") קוד כניסה:       
            input#code(type="text",name = 'code', required)
         
            .errorMessage #{wrongDevice}
            .errorMessage #{InvalidCode}
            input.CodeSubmitButton(type="submit", value="הגש")



          
     









