doctype html
html(dir="rtl", lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Review Page
    link(rel="stylesheet", href="style.css")
    script(defer ,src="StarsFunc.js") 
    script(src="https://kit.fontawesome.com/61eac9328a.js", crossorigin="anonymous")
  body
    #ReviewContainter
      header#myHeader
        p
      #ReviewCenter
          h1.title-review  שתף את ביקורתך:
          .Message #{AnonMessage}
          br
          form(action='/newReview' method="POST")
            p.ratingLabels
              | הערכה כללית:
              i.my-star1.star1-1(data-star1="1")
              i.my-star1.star1-2(data-star1="2")
              i.my-star1.star1-3(data-star1="3")
              i.my-star1.star1-4(data-star1="4")
              i.my-star1.star1-5(data-star1="5")
            input#output1(type="hidden", name = 'general', readonly)
            // rating is saved as number
            p.ratingLabels
              | רמת קושי:
              i.my-star2.star2-1(data-star2="1")
              i.my-star2.star2-2(data-star2="2")
              i.my-star2.star2-3(data-star2="3")
              i.my-star2.star2-4(data-star2="4")
              i.my-star2.star2-5(data-star2="5")
            input#output2(type="hidden",name = 'difficulty', readonly)
            // rating is saved as number
            p.ratingLabels
              | רמת ארגון החומר:
              i.my-star3.star3-1(data-star3="1")
              i.my-star3.star3-2(data-star3="2")
              i.my-star3.star3-3(data-star3="3")
              i.my-star3.star3-4(data-star3="4")
              i.my-star3.star3-5(data-star3="5")
            input#output3(type="hidden",name ='organization' , readonly)
            // rating is saved as number
            p.ratingLabels
              | מקצועיות המרצה:
              i.my-star4.star4-1(data-star4="1")
              i.my-star4.star4-2(data-star4="2")
              i.my-star4.star4-3(data-star4="3")
              i.my-star4.star4-4(data-star4="4")
              i.my-star4.star4-5(data-star4="5")
            input#output4(type="hidden",name = 'professional',readonly)
            // rating is saved as number
            p.ratingLabels
              | באיזו מידה הקורס תרם לי:
              i.my-star5.star5-1(data-star5="1")
              i.my-star5.star5-2(data-star5="2")
              i.my-star5.star5-3(data-star5="3")
              i.my-star5.star5-4(data-star5="4")
              i.my-star5.star5-5(data-star5="5")
            input#output5(type="hidden",name ='helped', readonly)
            // rating is saved as number
            p.ratingLabels
              | באיזו מידה הייתי ממליץ לחבר לקחת את הקורס:
              i.my-star6.star6-1(data-star6="1")
              i.my-star6.star6-2(data-star6="2")
              i.my-star6.star6-3(data-star6="3")
              i.my-star6.star6-4(data-star6="4")
              i.my-star6.star6-5(data-star6="5")
            input#output6(type="hidden",name ='recommended', readonly)
            // rating is saved as number
          
            h2#PresonalReview שתף את חוויתך האישית:
            label.label(for="review")
            textarea#review(name="review", placeholder="פרט", maxlength="5000")
            a(href="..//template/GoodbyePage.html")
            br
            br
            br
            br
            br
            input#submitButtonReview(type="submit", value="הגש")
          
          div
