*{
    background-color: #FFF2E0;

   

    
}

@font-face {
    font-family: myFont;
    src: url(horev/horev/horevclm-heavy-webfont.ttf);
}

#myHeader {
    grid-area: myHeader;
    height: 100%;
    color: #FF914D;
    display: flex;
    align-items: center;
    background-color: #FF914D;
    margin: 0%;
}

#HomePageCenter{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
    grid-area: 'HomePageCenter';
}

#sweetCamel{
	width: 20vw;
	height: 17vw;
    grid-area: 'HomePageCenter';
}

#maintext{
    font-size: 150%;
    grid-area:'HomePageCenter';
    
}

#text{
    font-size:80%;
    grid-area:'HomePageCenter';
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 0.2vw solid black;
    margin-right: 43%;
    margin-left: 43%;
}


.codeLabel{
    color: rgb(0, 0, 0);
    padding:0.3%;

}

#codeForm{
    margin-top:2%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:150%; 
    font-weight: bold;
}

.CodeSubmitButton{
    background-color: black;
    color: #FFF2E0;
    text-align:center;
    font-weight: bolder;
    cursor:pointer;
    margin-left: 20%;
    margin-right:70%;
    font-style: normal;
    padding: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    background-color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: large;
    grid-area: 'HomePageCenter';
}

.CodeSubmitButton:hover{
    background-color:#FF914D;
    border-color: #FF914D;
}


/*Consent Page*/

#myCheckbox{
    width: 3.5vw;
    height: 3.5vh;
}

#ConsentPageCenter{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
    grid-area: 'ConsentPageCenter';
    margin-right: 2%;
}

#myButton{
    background-color: black;
    color: #FFF2E0;
    text-align:center;
    font-weight: bolder;
    cursor:pointer;
    margin-left: 20%;
    margin-right:70%;
    font-style: normal;
    padding: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    background-color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: large;
    grid-area: 'HomePageCenter';
}

#myButton:hover{
    background-color:#FF914D;
    border-color: #FF914D;
}


/*Choose Course*/

/*
.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

a[aria-disabled="true"] {
color: currentColor;
display: inline-block;  
pointer-events: none;
text-decoration: none;
}

*/

#ChooseCourseContainer{
    text-align: center;
}

#mainTitle {
	grid-area: 'mainTitle';
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 330%;
}


#title {
	grid-area: 'title';
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 230%;
}

.flex-container1,
.flex-container2 {
	display: flex;
	margin-bottom: 1%;
	text-align: center;
    margin-right: 12%;
	grid-area: 'flex-container1';
}

.flex-container2 {
	grid-area: 'flex-container2'
}


.flex-container1-2,
.flex-container3-4,
.flex-container5-6,
.flex-container7-8 {
	display: flex;
}

.flex-container1-2,
.flex-container5-6{
	margin-left:1.5%;
}

.flex-child {
	flex: 2;
	padding: 1%;
	
}

.course {
	border-radius: 10%;
	border: 0.5vw solid #FF914D;
	width: 17vw;
	height: 12vw;
	font-size: 190%;
	vertical-align: middle;
	text-align: center;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
    color:black;
    cursor:pointer;
}

.course:hover{
    background-color:#FF914D;
    border-color: #FF914D;
}

#CourseText{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
    color:black;
    font-size: 150%;
}

.CourseName{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
    color:black;
    font-size: 100%;
}


#submitCourseName{
    background-color: black;
    color: #FFF2E0;
    text-align:center;
    font-weight: bolder;
    cursor:pointer;
    margin-left: 20%;
    margin-right:70%;
    font-style: normal;
    padding: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    background-color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: large;
    grid-area: 'HomePageCenter';
}

#submitCourseName:hover{
    background-color:#FF914D;
    border-color: #FF914D;
}

#finalSentence {
	grid-area: finalSentence;
	color: rgb(229, 130, 17);
	font-size: 6vh;
	text-align: center;
	margin-right: 0%;

}


/*GoodByePage*/

#GoodbyeCenter{
	text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-area: 'GoodbyeCenter';
}

#GoodbyeTitle{
	font-size: 400%;
	padding-bottom: 0%;
    grid-area: 'GoodbyeCenter';
}

#ThankYouSentence{
	font-size: 200%;
    grid-area: 'GoodbyeCenter';
}



#RightCamel{
	width: 40vw;
	height: 25vw;
	margin-right: 0%;
	margin-bottom: 0%;
    grid-area: 'GoodbyeCenter';
}



/*identificationS page*/

#IDPageCenter{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
    grid-area: 'IDPageCenter';
}

h1.title-Identification{
    color: black;
    margin-top: 4%; 
	padding-bottom: 0%;
    grid-area: 'IDPageCenter';

}

h2.title-Identification{
    color: black;
    padding-bottom: 4%;
    grid-area: 'IDPageCenter';

}


.label{
    color: rgb(0, 0, 0);
    padding:0.3%;
    grid-area: 'IDPageCenter';
}


#form{
        width: 30%; height: 10%;
        padding-top: 3%;
        padding-bottom:3%;
		margin-right: 35%;
        grid-area: 'IDPageCenter';
        font-size:70%;
       
}


#IdentificationSubmitButton{
	background-color: black;
    color: #FFF2E0;
    text-align:center;
    font-weight: bolder;
    cursor:pointer;
    margin-right: 100%;
    font-style: normal;
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    background-color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 100%;
	margin-top: 10%;
    grid-area: 'IDPageCenter';

}

#IdentificationSubmitButton:hover{
	background-color:#FF914D;
    border-color: #FF914D;
}



/*ReviewPage*/

.Message{
    font-size: 100%;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:rgba(253, 0, 0, 0.71);
    margin-right: 2.5%;
    margin-top: 1%;
}
 
.informationSection{
    color: rgb(0, 0, 0);
    padding:4%;
    grid-area:'ReviewCenter';
    background-color: white;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#review{
    height: 25vh;
    width: 65%;
    grid-area: 'ReviewCenter';
    margin-left: 30%;
    font-size: 100%;
    margin-top: 0%;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-right: 2%;
}

h1.title-review{
    color: black;
    margin-top: 4%; 
    grid-area: 'ReviewCenter';
    right: 0.5%;
    margin-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 280%;
    margin-right: 3%;

}

#PresonalReview{
    grid-area: 'ReviewCenter';
    right: 0.5%;
    margin-top: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    margin-right: 3%;
    margin-bottom: 0%;
}

#submitButtonReview{
    background-color: black;
    color: #FFF2E0;
    text-align:center;
    font-weight: bolder;
    font-size: 180%;
    cursor:pointer;
    margin-right: 5%;
    margin-left: 32%;
    font-style: normal;
    padding-right: 1%;
    padding-left: 1%;
    text-decoration: none;
    background-color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:left;
    margin-top: -3.5%;
    grid-area: 'ReviewCenter';
	
}

#submitButtonReview:hover{
	background-color:#FF914D;
    border-color: #FF914D;
}


#OneMoreReview{
    background-color: black;
    color: #FFF2E0;
    text-align:center;
    font-weight: bolder;
    font-size: 180%;
    cursor:pointer;
    margin-right: 50%;
    margin-left: 5%;
    font-style: normal;
    padding-right: 1%;
    padding-left: 1%;
    text-decoration: none;
    background-color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:left;
    margin-top: -3.5%;
    grid-area: 'ReviewCenter';
}

#OneMoreReview:hover{
	background-color:#FF914D;
    border-color: #FF914D;
}


.ratingLabels{
    margin-right: 3%;
    text-align: right;
    margin-top: 2%;
    font-size:120%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    grid-area: 'ReviewCenter';
}


/*set the default color of the stars*/
.star1-rating, .star2-rating, .star3-rating, .star4-rating, .star5-rating, .star6-rating{
    color: #bebebe;
    font-size:2em;
}

/*set the default color of the stars*/
.my-star1,.my-star2,.my-star3,.my-star4,.my-star5,.my-star6{
    color: #bebebe;


}
/*create the star*/
.my-star1::before,.my-star2::before,.my-star3::before,.my-star4::before,.my-star5::before,.my-star6::before{
    content:"\002605";
}
/*remove the default style (italic) of the star*/
.my-star1,.my-star2,.my-star3,.my-star4,.my-star5,.my-star6{
    font-style: unset !important;
}
/*set active star color*/
.is-active{
    color:#fb8900;
}
/*set color on hover*/
.my-star1:not(.is-active):hover,.my-star2:not(.is-active):hover,.my-star3:not(.is-active):hover,
.my-star4:not(.is-active):hover,.my-star5:not(.is-active):hover,.my-star6:not(.is-active):hover{
    color: #fb8900;
}



@media screen and (max-width: 700px), screen and (max-device-width: 767px) and (orientation: portrait), screen and (max-device-width: 415px) and (orientation: landscape){
   
/*Consent Page*/


#ConsentPagecontainer {
    display: grid;
    grid-template-areas:
        'myHeader'
        'ConsentPageCenter'
        'toHomePage';
}

#myCheckbox{
    width: 4vw;
    height: 4vh;
    margin-bottom: 0%;
}

#myCheckboxLabel{
    margin-top: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: xx-large;
    grid-area: 'ConsentPageCenter';
    margin-right: 2%;
}

#ConsentPagetext,#ConsentClosePage{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
    grid-area: 'ConsentPageCenter';
    margin-right: 2%;
}

#myButton{
    cursor:pointer;
    margin-left: 20%;
    margin-right:70%;
    font-style: normal;
    padding: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    background-color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 200%;
    grid-area: 'toHomePage';
}

   
   
   
   
   
    /*Phone HomePage page*/
    #HomePagecontainer {
		display: grid;
		grid-template-areas:
            'myHeader'
			'HomePageCenter';
	}

    #HomePageCenter{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:120%;
        grid-area:'HomePageCenter';
    }
    
    #sweetCamel{
        width: 45vw;
        height: 35vw;
        grid-area:'HomePageCenter';
    }

    #maintext{
        font-size: 250%;
        grid-area:'HomePageCenter';
    }

    #title{
        font-size:300%;
        grid-area:'HomePageCenter';
        font-weight:bold;
    }


    #text{
        font-size:250%;
        grid-area:'HomePageCenter';
        font-weight:bold;
    }

    #codeForm{
        margin-top: 5%;
    }

    .codeLabel,#code{
        font-size:200% ;
    }


    .CodeSubmitButton{
        font-size: 150%;
        cursor:pointer;
        margin-left: 10%;
        margin-right: 85%;
        font-style: normal;
        padding: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        text-decoration: none;
        background-color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        grid-area:'HomePageCenter';
    }

     /*Phone goodbye page*/
    #GoodbyeContainer{
        display: grid;
		grid-template-areas:
            'myHeader'
			'GoodbyeCenter';
    }

    #ThankYouSentence{
        margin-bottom: 25%;
        grid-area: 'GoodbyeCenter';
        font-size: 200%;
        }

    #GoodbyeTitle{
        font-size: 350%;
        padding-bottom: 0%;
        grid-area: 'GoodbyeCenter';
    }

    #GoodbyeCenter{
        font-size: 85%;
        grid-area: 'GoodbyeCenter';
    }

    #RightCamel{
        width: 60vw;
        height: 45vw;
        margin-right: 0%;
        margin-bottom: 0%;
        grid-area: 'GoodbyeCenter';
    }

  
    
 /*Phone chooseCourse page*/
	#ChooseCourseContainer {
		display: grid;
		grid-template-areas:
			'myHeader'
			'mainTitle'
            'title'
			'flex-container1'
			'flex-container2'
            'differentCourse';
	}

    .differentCourse{
        grid-area: 'differentCourse';
        
    }


    #submitCourseName{
        grid-area: 'differentCourse';
        margin-top: 3%;
        margin-right: 85%;
        font-size: 200%;
    }

	.flex-container1,
	.flex-container2 {
		display: grid;
		margin-bottom: 0%;
		text-align: center;
		grid-area: 'flex-container1';
        margin-right: 0%;
	}

	.flex-container2 {
		grid-area: 'flex-container2';
	}

    .course {
        border-radius: 10%;
        border: 1vw solid #FF914D;
        width: 33vw;
        height:22vw;
        font-size: 200%;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        grid-area: 'flex-container1';
        color:black;
	}


    #myHeader {
        grid-area: 'myHeader';
        height: 100%;
        color: #FF914D;
        display: flex;
        align-items: center;
        background-color: #FF914D;
        margin: 0%;
    }

    .flex-container3-4,
    .flex-container7-8{
	margin-left:1.5%;
    }


    #mainTitle {
        font-size: 300%;
        margin-bottom: 0%;
        grid-area: 'mainTitle';
    }


    #title {
        grid-area: 'title';
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 250%;
     }

    #CourseText{
        grid-area: 'differentCourse';
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 230%;
    }

    .CourseName{
        grid-area: 'differentCourse';
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 200%;
    }

/*Phone ID page*/
	#IDPageContainer{
		display: grid;
		grid-template-areas:
		'myHeader'
        'IDPageCenter';
	}

    #IDPageCenter{
        font-size: 150%;
    }

    #form{
        width: 50%; height: 380px;
        padding-top: 3%;
        padding-bottom: 0%;
        margin-bottom: 0%;
        text-align: center;
        margin-right: 30%;
        grid-area: 'IDPageCenter';
        font-size: 70%;
       
    }

    /*Phone Review page*/

    #ReviewContainter{
		display: grid;
		grid-template-areas:
        'myHeader'
		'ReviewCenter'
	}
    
    #submitButtonReview{
        background-color: black;
        color: #FFF2E0;
        text-align:center;
        font-weight: bolder;
        font-size: 100%;
        cursor:pointer;
        margin-right: 5%;
        margin-left: 63%;
        font-style: normal;
        padding: 1%;
        padding-right: 1.5%;
        padding-left: 1.5%;
        text-decoration: none;
        background-color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        float:left;
        margin-top: -10.5%;
        grid-area: 'ReviewCenter';
	
    }

    #OneMoreReview{
        background-color: black;
        color: #FFF2E0;
        text-align:center;
        font-weight: bolder;
        font-size: 100%;
        cursor:pointer;
        margin-right: 20%;
        margin-left: 5%;
        font-style: normal;
        padding: 1%;
        padding-right: 1.5%;
        padding-left: 1.5%;
        text-decoration: none;
        background-color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        float:left;
        margin-top: -10.5%;
        grid-area: 'ReviewCenter';
	
    }

    #review{
        height: 25vh;
        width: 65%;
        grid-area: 'ReviewCenter';
        margin-left: 30%;
        font-size:100%;
        margin-top: 0%;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        margin-right: 2%;
    }

    .Message{
        font-size: 110%;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        color:rgba(253, 0, 0, 0.71);
        margin-right: 2.5%;
        margin-top: 1%;
    }
  
    h1.title-review{
        color: black;
        margin-top: 4%; 
        grid-area: 'ReviewCenter';
        right: 0.5%;
        margin-bottom: 0%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 230%;
        margin-right: 3%;
    
    }
    
    #PresonalReview{
        grid-area: 'ReviewCenter';
        right: 0.5%;
        margin-top: 4%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 150%;
        margin-right: 3%;
        margin-bottom: 0%;
    }

    .ratingLabels{
        font-size:100%;
    }



}




